*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	/* font-family: 'Open Sans', sans-serif; */
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 0;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.description {
	white-space: pre-wrap;
}

.time-block {
	margin-bottom: 0.3em;
	text-align: center;
}

.textarea__wrap {
	width: 85%;
	border-left: 2px solid black;
	transition: 0.2s ease;
}

.textarea__wrap:hover {
	outline: 2px solid black;
	border-left: none;
}

.textarea__wrap:focus {
	outline: 2px solid black;
	border-left: none;
}

.form-control {
	resize: none;
	border-radius: 0;
	outline: none;
}

.row {
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;
}

.hour {
	background-color: #ffffff;
	color: #000000;
	border-top: 1px dashed #000000;
	width: 5%;
}

.past {
	background-color: #d3d3d3;
	color: white;
}

.present {
	background-color: #ff6961;
	color: white;
}

.future {
	background-color: #77dd77;
	color: white;
}

.saveBtn {
	border-left: 2px solid black;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: hsl(209, 80%, 68%);
	color: black;
}

.saveBtn span:hover {
	font-size: 20px;
	transition: all 0.3s ease-in-out;
} local-storage-task-feat

form {
	margin-top: 2em;
}

.reset-btn {
	margin-top: 2em;
}

.popUp {
	margin: 0 auto;
	max-width: 500px;
	min-height: 50px;
	display: none;
}

